html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
}
body{
    position: relative;
    margin: 0;
    background: url(../images/rocks.jpg) no-repeat,
                url(../images/ocean.jpg) no-repeat;
    background-position: top,
                         bottom;
}
.container{
    padding:0 120px;
    max-width: 1200px;
}
.header{
    height: 90px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.header-container{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    width: 563px;
}
.nav__list{
    width: 527px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
}
.nav__link{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Red Hat Text', sans-serif;
    transition: 0.5s;
}
.nav__link:hover{
    color: #0D606F;
    font-family: 'Red Hat Text', sans-serif;
}
.log-in{
    width: 103px;
    height: 41px;
    background-color: #0D606F;
    border: none;
    border-radius: 10px;
    color:#fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-family: 'Red Hat Text', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}
.log-in:hover{
    color: #0D606F;
    background-color: #fff;
    width: 105px;
    height: 43px;
    border: #0D606F solid 1px;
}
.preview-container{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 6px;
}
.preview__title{
    color: #fff;
    font-size: 82px;
    font-family: 'Aleo', serif;
    margin: 0;
    font-weight: 500;
}
.preview__subtitle{
    color: #fff;
    font-size: 20px;
    font-style: italic;
    font-family: 'Aleo', serif;
    margin: 0;
}
.search-box{
    display: flex;
    width: 858px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    height: 59px;
    align-items: center;
    padding: 18px;
}
.search-box__text{
    font-size: 24px;
    color: #F2785C;
    margin-left: 23px;
    font-style: italic;
    font-family: 'Aleo', serif;
}
.button{
    width: 228px;
    height: 59px;
    border-radius: 10px;
    border: none;
    background: #0D606F;
    color: #fff;
    font-size:24px;
    font-weight: 500;
    font-family: 'Red Hat Text', sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    color: #0D606F;
    background-color: #fff;
    border: #0D606F solid 1px;
}
.steps-container{
    padding-top: 300px;
}
.title{
    color: #F2785C;
    font-size: 40px;
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 40px;
}
.about-steps-box{
    display: flex;
    justify-content: space-between;
    height: 250px;
}
.about-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}
.about-steps__image{
    width: 100px;
    height: 100px;
}
.about-steps__text{
    font-family: 'Aleo', serif;
    font-size: 20px;
    color: #0D606F;
    padding: 30px 0;
}
.variants-destinations {
    overflow: hidden;
}
.variants-destinations__list{
    width: 3500px;
    position: relative;
    transition: 1s;
    left: -569px;
}

.variants-destinations__item {
    margin: 0 30px;
    float: left;
    position: relative;
}

.variants-destinations__text {
    color: #fff;
    font-size: 32px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 15px;
    margin: 0;
}

.selection-panel {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

.selection-panel-wrapper {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.selection-panel__btn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #F2785C80;
}

.central-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.central-button:hover{
    color: #fff;
    background-color: #F2785C;
    border: #0D606F solid 1px;
    width: 240px;
}

.stories-container {
    padding-top: 84px;
    padding-bottom: 35px;
    background: rgba(255, 255, 255, 0.7);
}

.stories-grid {
    display: grid;
    grid-template-columns: 34% 66%;
    margin-top: 80px;
    margin-bottom: 15px;
    grid-gap: 29px 32px;
}

.stories-grid__image{
   filter: drop-shadow(0px 4px 4px #0D606F);
   border-radius: 16px ;
}

.stories-grid__title {
    font-family: 'Aleo', serif;
    color: #0D606F;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
}

.stories-grid__text {
    font-family: 'Aleo', serif;
    color: #0D606F;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-top: 24px;
}

.stories-grid__link {
    font-family: 'Aleo', serif;
    color: #0D606F;
    font-weight: 700;
    font-size: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

.logo-rsschool {
    width: 65px;
    height: 50px;
}

.social {
    width: 141px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy__text {
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Red Hat Text', sans-serif;
}

.logo-github {
    width: 40px;
}

.partners {
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-evenly;
}